.signin-img{
    background-image: url('/public/img/signin/signup.png');
    height: 1024px;
    background-size: cover;
    
    }

    .signin-img-mobile{
        background-image: url('/public/img/signin/signup.png');
        height:50vh;
        background-size: cover;
    }

    .p-signin{
       font-size: 38px;
       margin-bottom: 0px !important;
       color: black;
    }
    
    .note-signin{
        font-size: 18px;
    }
    
    .mute-signin{
        color: #AAAAAA;
    }
    
    .form-signin{
        margin-top: 280px;
    }

    .form-signin-mobile{
        margin-top: 50px;
    }
    
    .btn-signin{
        width: 100%;
        background-color: #5F2EEA;
        outline-color: #5F2EEA;
        color: white;
    }
    
    .btn-signin:hover{
        background-color: #5F2EEA;
        color: white;
    }
    
    .text-signin{
        color: #5F2EEA;
    }
    
    .logo-white{
    height: 190px;
    margin-top: 380px;
    margin-bottom: 0px;
    }

    
    
    .moto{
        font-size: 48px;
        color: white;    
    }